{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
    <div class="col-sm-6 podt mt-5 mx-auto">
        <div class="card">
            <h1 class="card-header ">Inscription</h1>
            <div class="card-body ">
               
                {{ form_start(form) }} {{ form_widget(form) }} <button class="btb btn-success" type='submit'>Enregistrer</button>{{ form_end(form) }}
               
                
            </div>
        </div>
    </div>
{% endblock %}